<div class="game-info">

  <%= if @game.status == :setup do %>

    <div>
      <%= if length(@game.players) > 1 do %>
        <button phx-click="start-game" class="button">Play</button>
      <% else %>
        <button disabled title="At least two players required before starting" class="button">Play</button>
      <% end %>
    </div>

  <% end %>

  <%= if Enum.find(@game.players, & &1 == @player) == nil do %>
    <div class="player">
      <p class="player-name"><i>This game already started -- you are only allowed to watch 👀</i></p>
    </div>
  <% end %>

  <%= for player <- @game.players do %>

    <div>
      <div class="player">
        <div class="<%= player_classes(@game, player) %>" style="<%= player_styles(@game, player) %>"></div>
        <div class="player-name">&nbsp;&nbsp;<%= player %></div>
        <%= if @game.turn == player and @game.status == :playing and @game.turn_timer_ref != nil do %>
          <div class="countdown">&nbsp;&nbsp;⏱  <%= format_countdown(@game.seconds_remaining) %></div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
