<%= if @game do %>

  <%= if @game.status == :setup do %>
    <%= live_component(@socket, LobbyComponent, players: @game.players) %>
  <% end %>

  <%= if @game.status == :playing do %>
    <%= live_component(@socket, GameBoardComponent, board: @game.board) %>
  <% end %>

<% else %>
  <i>No game here</i>
<% end %>

