/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

html {
    box-sizing: border-box;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Ubuntu,
        Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

input {
    font-size: 1rem;
}

.m-1 {
    margin: 10px;
}

.input-label {
    margin-bottom: 5px;
    font-size: 0.8rem;
    filter: opacity(75%);
}

.text-input {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 6px;
}

.button {
    font-size: 0.8rem;
    padding: 12px;
    padding-left: 22px;
    padding-right: 22px;
    background: gray;
    border: none;
    border-radius: 4px;
    color: white;
    background: royalblue;
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
    display: none;
}

.phx-click-loading {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.phx-disconnected {
    cursor: wait;
}
.phx-disconnected * {
    pointer-events: none;
}

.phx-modal {
    opacity: 1 !important;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.phx-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Alerts and form errors */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert p {
    margin-bottom: 0;
}
.alert:empty {
    display: none;
}
.invalid-feedback {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
}

/* --------------------- */

.board-container {
    position: relative;
    margin-top: 30px;
    height: 400px;
    width: 400px;
    .cell {
        transition: 0.2s;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid;
    }

    .active {
        &:hover {
            transform: scale(1.2, 1.2);
        }
    }

    .glow {
        animation: glow 0.3s infinite alternate;
    }
}
@keyframes glow {
    from {
        box-shadow: 0 0 2px -2px #999;
    }
    to {
        box-shadow: 0 0 2px 2px #999;
    }
}

.scoreboard {
    ul {
        list-style: none;
        padding-left: 0;

        li {
            display: flex;
            align-items: center;
            margin: 0;
            padding-bottom: 3px;
            padding-top: 3px;
            border-top: 1px solid #999;

            &:last-child {
                border-bottom: 1px solid #999;
            }

            .turn-indicator {
                margin-left: 10px;
            }

            .marble {
                margin-right: 10px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid;
            }
        }
    }
}
