/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

html {
    box-sizing: border-box;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Ubuntu,
        Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
}

body {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

input {
    font-size: 1rem;
}

.m-1 {
    margin: 10px;
}

.input-label {
    margin-bottom: 5px;
    font-size: 0.8rem;
    filter: opacity(75%);
}

.text-input {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 6px;
}

.button {
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 4px;

    &:disabled {
        color: #777;
        border-color: #777777;
    }
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
    display: none;
}

.phx-click-loading {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.phx-disconnected {
    cursor: wait;
}
.phx-disconnected * {
    pointer-events: none;
}

.phx-modal {
    opacity: 1 !important;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.phx-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Alerts and form errors */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert p {
    margin-bottom: 0;
}
.alert:empty {
    display: none;
}
.invalid-feedback {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
}

.join-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .ui-button {
        width: 100%;
        font-size: 0.8rem;
        padding: 12px;
        padding-left: 25px;
        padding-right: 25px;
        background: royalblue;
        color: #ffffff;
        border: none;
        border-radius: 4px;

        &:disabled {
            color: #777;
            border-color: #777777;
        }
    }
}

/* --------------------- */

:root {
    --path-step: "";
    --rotation: "0deg";
    --left: "0px";
    --bottom: "0px";
    --bgc: "#000000";
    --bc: "#000000";
}

.center-flex-container {
    padding-top: 30px;
    padding-bottom: 30px;

    background: black;

    height: 100vh;
}

%common-cell {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid;
    left: var(--left);
    bottom: var(--bottom);
    transform: rotate(var(--rotation));
}

.board-container {
    margin: 0 auto;
    position: relative;
    height: 460px;
    width: 460px;
    top: calc(50% - 230px);
    border: 3px solid #655747;
    border-radius: 50%;

    &::before {
        content: "";
        background: url("/images/dragon.png");
        background-color: bisque;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        opacity: 0.25;
    }

    .board-cell {
        @extend %common-cell;

        border-color: #655747;
        background-color: #000;
        transition: transform 0.2s ease-in;
    }

    .clicked {
        &:hover {
            transform: scale(1.2, 1.2) rotate(var(--rotation));
        }
    }

    .marble {
        @extend %common-cell;

        background: radial-gradient(var(--bgc) 20%, var(--bc));
        border-color: var(--bc);
        transition: left 0.4s ease-in-out, bottom 0.4s ease-in-out,
            transform 0.2s ease-in;
    }

    .glow {
        animation: glow 0.3s infinite alternate;
    }

    .path {
        z-index: 10;
        font-size: 16px;
        text-align: center;
        font-family: monospace;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: var(--path-step);
        }
    }
}
@keyframes glow {
    from {
        box-shadow: 0 0 2px -2px var(--bgc);
    }
    to {
        box-shadow: 0 0 2px 2px var(--bgc);
    }
}

.game-info {
    position: absolute;
    font-size: 14px;
    margin-left: 10px;

    .player {
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        .player-name {
            color: #ffffff;
        }
    }

    .player-marble {
        width: 25px;
        height: 25px;
        border: 3px solid;
        border-radius: 50%;

        border-color: var(--bc);
        background-color: var(--bgc);

        opacity: 0.5;
    }

    .highlight {
        opacity: 1;
        box-shadow: 0 0 2px 2px var(--bgc);
    }

    .countdown {
        color: firebrick;
        align-items: center;
    }
}
