<%= form_for @conn, Routes.play_game_path(@conn, :create), fn f -> %>
  <%= text_input f, :game_id, placeholder: "Enter new or existing game id" %>
  <%= text_input f, :player_name, placeholder: "Enter your name" %>
  <%= submit "Join game" %>
<% end %>
